
.ingredientsList{
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    transition:height 300ms;
}
.ingredient{

}

.ingredients{
        grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;

}